@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&display=swap');

/*Gantari*/
@font-face {
    font-family: Gantari;
    src: url(../assets/fonts/Gantari/Gantari-VariableFont_wght.ttf),
        url(../assets/fonts/Gantari/Gantari-Italic-VariableFont_wght.ttf);
}

/*Variaveis*/
:root {
    --cor-preto: #000;
    --cor-Azul-escuro: #13171c;
    --cor-cinza-escuro: #1c2329;
    --cor-cinza-claro: #A0A5BD;
    --cor-cinza-medio: #2C3440;
    --cor-Branco: #ffffff;
    --cor-Roxo: #403187;

    --borda: 1px solid var(--cor-preto);
    --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}

* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gantari", sans-serif;
    outline-color: #403187;
    color: #ffffff;
}

body {
    background-color: #262D33;
}

h1 {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/*Formulario*/
.formulario-botao-azul {
    background-color: var(--cor-Roxo);
    border-radius: 5px;
    border: none;
    height: 35px;

    color: var(--cor-Branco);
    font-size: var(--tamanho-fonte-sm);


}

.formularios-campos>input {
    border: var(--borda);
    height: 35px;
    background-color: var(--cor-cinza-claro);
    color: var(--cor-cinza-escuro);
    font-size: var(--tamanho-fonte-sm);
    border-radius: var(--borda-arredondada);
}

.formularios-campos>label {
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);
    font-weight: 600;


}

.estilo-formulario {
    width: 100%;
    background-color: #1E252B;
    border: var(--cor-Roxo);
}

#campo-upload {
    display: none;
}

#upload {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    min-height: 35px;
    background-color: var(--cor-cinza-claro);
    color: var(--cor-preto);
    border-radius: 5px;
    font-size: var(--tamanho-fonte-sm);
    text-align: center;
    padding: 5px;
    font-weight: 500;
}





#cabecalho {
    background-color: var(--cor-preto);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    border-bottom: var(--borda);
}

#cabecalho>nav {
    background-color: var(--cor-preto);
    width: 85%;
    max-width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#logo-mobile {
    display: none;
}




.cabecalho-acoes {
    background-color: var(--cor-preto);
    display: flex;
    align-items: center;
    gap: 15px;
}

.cabecalho-acoes>a {
    display: flex;
    align-items: center;
}




.foto-de-perfil {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}


.inv {
    position: absolute;
    z-index: -1;
    opacity: 0;
} 



/*Responsivo*/
@media only screen and (max-width: 500px) {
    #logo-mobile {
        display: initial;
    }

    #logo-desktop {
        display: none;
    }
}



